.table-container {
    max-height: 320px;
    overflow: auto;
    border-collapse: separate;
    border-spacing: 0;
}  
  .table td {
    border-bottom: none;
    padding: 10px; 
  }

.progress-indicator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 50px;
}

.progress-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid var(--blueUser);
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    z-index: 1;
    color: var(--blueUser);
}

.progress-line {
    position: absolute;
    top: 50%;
    /* left: 13px; */
    width: 100%;
    height: 2px;
    background-color: var(--blueUser);
}

.progress-indicator .progress-circle.active {
    background-color: var(--blueUser);
    border: 2px solid var(--blueUser);
    color: #fff;
}


.progress-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--blueUser);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.status-name {
    position: absolute;
    bottom: -27px;
    /* width: 0px; */
    height: 20px;
    width: 55px;
    display: flex;
    left: -14px;
    right: 0;
    text-align: center;
    font-size: 8px;
}