.widget-49-date-primary {
    border: 1px solid var(--light-blue);
}

.widget-49-pro-title {
    font-weight: 400;
}

.priceTag {
    top: 30px;
    position: absolute;
    left: 30px;
    padding: 8px;
    color: var(--red);
    font-size: 20px;
    font-weight: 600;
}

.pageTitle {
    font-weight: bold;
}

.blueLine {
    width: 200px;
    height: 6px;
    left: 860px;
    top: 153px;
    position: relative;
    background: #339AF0;
    border-radius: 20px;
}